<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      #map {
        width: 135%;
        height: 705px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="floating-panel">
      <b>Sua posição: </b>
      <input id="address" type="textbox" value="Recife, marco zero">
      <input id="submit" type="button" value="Posicionar">
    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        directionsDisplay = new google.maps.DirectionsRenderer(
        {
        suppressMarkers: true
        });
        directionsService = new google.maps.DirectionsService();
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(-8.0624203, -34.9270747),
          zoom: 14,
        });
        directionsDisplay.setMap(map);
        var geocoder = new google.maps.Geocoder();
        
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });   
          start = new google.maps.LatLng(-8.0621058, -34.8710205);
        "<% @gyms.each do |gym| %>"
          var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '<h4 id="firstHeading" class="firstHeading"><%= gym.name %></h4>'+
            '<div id="bodyContent">'+
            '<button type="button" class="custom_button" onclick="return calcRoute();">Traçar caminho</button>' +
            '&nbsp' + '&nbsp' +
            '<%= link_to 'Detalhes', gym %>'+
            '</div>';
          var marker = new google.maps.Marker({
            title: "<%= gym.name %>",
            position: new google.maps.LatLng("<%= gym.latitude %>", "<%= gym.longitude %>")
          });
          attachListener(marker);
          function attachListener(marker) {
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });            
            marker.addListener('click', function() {
              infowindow.open(marker.get('map'), marker);
              latmarker = marker.getPosition().lat();
              lngmarker = marker.getPosition().lng();
              end = new google.maps.LatLng(latmarker, lngmarker);
            });
          }
          marker.setMap(map);
        "<% end %>"
      }
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            start = results[0].geometry.location
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              title: 'Sua localização',
              map: resultsMap,
              position: results[0].geometry.location
            });
            marker.setMap(map);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      } 
      function calcRoute() {
         var request = {
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
          };
          directionsService.route(request, function(result, status) {
           if (status == 'OK') {
             directionsDisplay.setDirections(result);
           }
         });
       }
      document.getElementById('get').onclick = function(){
        calcRoute()
      };
      
    </script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEFL4I3GmmiTxOjSvAKZo2r_E1Pk6weDU&callback=initMap">
    </script>
  </body>
</html>
