<%= form_with(model: gym, local: true) do |form| %>
  <% if gym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

      <ul>
      <% gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :gym_number %>
  </div>

  <div class="field">
    <%= form.label :rpa %>
    <%= form.number_field :rpa, id: :gym_rpa %>
  </div>

  <div class="field">
    <%= form.label :microregion %>
    <%= form.text_field :microregion, id: :gym_microregion %>
  </div>

  <div class="field">
    <%= form.label :cnes %>
    <%= form.number_field :cnes, id: :gym_cnes %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :gym_name %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress, id: :gym_adress %>
  </div>

  <div class="field">
    <%= form.label :bairro %>
    <%= form.text_field :bairro, id: :gym_bairro %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :gym_phone %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :gym_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :gym_longitude %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.text_field :hour, id: :gym_hour %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :gym_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
