<p id="notice"><%= notice %></p>

<p>
  <strong>Microrregião:</strong>
  <%= @gym.microregion %>
</p>

<p>
  <strong>Cnes:</strong>
  <%= @gym.cnes %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @gym.adress %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @gym.bairro %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @gym.phone %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @gym.hour %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @gym.plusminus %>
</p>

<% if current_user  %>
  <p>
  <%= link_to('Like', vote_up_gym_path(@gym), :method => :post) %>
  <%= link_to('Dislike', vote_down_gym_path(@gym), :method => :post) %>
  </p>
<% else %>
  <p><%= link_to "Faça login para avaliar a academia", "/auth/google" %></p>
<% end %>

<p>
<%= link_to 'Back', pages_gyms_path %>
</p>