<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @gym.number %>
</p>

<p>
  <strong>Rpa:</strong>
  <%= @gym.rpa %>
</p>

<p>
  <strong>Microregion:</strong>
  <%= @gym.microregion %>
</p>

<p>
  <strong>Cnes:</strong>
  <%= @gym.cnes %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @gym.adress %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @gym.bairro %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @gym.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gym.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gym.longitude %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @gym.hour %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @gym.rating %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
