<div class="container">
    <div class="jumbotron">  
      <p id="notice"><%= notice %></p>
       <p>
        <strong>Nome:</strong>
        <%= @gym.name %>
      </p>
      
      <p>
        <strong>Microrregião:</strong>
        <%= @gym.microregion %>
      </p>
      
      <p>
        <strong>Cnes:</strong>
        <%= @gym.cnes %>
      </p>
      
      <p>
        <strong>Endereço:</strong>
        <%= @gym.adress %>
      </p>
      
      <p>
        <strong>Bairro:</strong>
        <%= @gym.bairro %>
      </p>
      
      <p>
        <strong>Telefone:</strong>
        <%= @gym.phone %>
      </p>
      
      <p>
        <strong>Horário:</strong>
        <%= @gym.hour %>
      </p>
      
      <p>
        <strong>Nota:</strong>
        <table style="width:30%">      
            <tr>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Favoritos</th>
            </tr>
              <td><%= @gym.votes_for %></td>
              <td><%= @gym.votes_against %></td>
              <td><%= @gym.followers_count %></td>
            </tr>
          </table>
      </p>
      
      <% if current_user  %>
        <% if current_user.voted_for?(@gym) %>
          <p>Você avaliou essa academia positivamente</p>
        <% end %>
        <% if current_user.voted_against?(@gym) %>
          <p>Você avaliou essa academia negativamente</p>
        <% end %>
        <p>
        Avaliação:
        <%= link_to('Like', vote_up_gym_path(@gym), :method => :post) %>
        |
        <%= link_to('Dislike', vote_down_gym_path(@gym), :method => :post) %>
        |
        <% if current_user.following?(@gym) %>
          <%= link_to('Remova dos favoritos', remove_favorite_gym_path(@gym), :method => :post) %>
        <% else %>
          <%= link_to('Adicione aos favoritos', add_favorite_gym_path(@gym), :method => :post) %>
        <% end %>
        </p>
      <% else %>
        <p><%= link_to "Faça login para avaliar a academia", "/auth/google" %></p>
      <% end %>
      
      <p>
      <%= link_to 'Voltar', pages_gyms_path %>
      </p>
</div>

<p><div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>