<!DOCTYPE html>
<html>
  <head>
    <title>Aquidemia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="sidenav">
    <li><%= link_to 'home', home_path=%></li>
    <li><%= link_to 'about', pages_about_path=%></li>
    <li><%= link_to 'search', pages_search_path=%></li>
    <li><%= link_to 'favorites', pages_favorites_path=%></li>
    <li><a href=https://github.com/gmachamilton/Aquidemia-Projeto-IF977>github link</a></li>
  <body>
    <%= yield %>
  </body>
</html>


